@{
    ViewData["Title"] = "About Us";
}
<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h1>About Us</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="image-container" style="height: 400px">
            <img src="https://images.unsplash.com/photo-1674574124976-a56d9052c2f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="Charity" class="img-fluid rounded">
                
            </div>
        </div>
        <div class="col-md-6">
            <h3>Our Mission</h3>
            <p>At Charity, we believe that everyone deserves a chance to live a happy and healthy life. Our mission is to empower those in need by providing essential resources and support, and by promoting education, equality, and social justice. We are committed to making a positive impact on the world and to creating a better future for all.</p>
            <h3>Our Story</h3>
            <p>Charity was founded in 2005 by a group of passionate volunteers who were committed to helping their community. Over the years, we have grown into a global organization that provides assistance to millions of people around the world. We believe that by working together, we can make a difference and create a better world for all.</p>
        </div>
    </div>
</div>