@{
    ViewData["Title"] = "Home Page";
}

<!-- Jumbotron -->
<div class="jumbotron d-flex flex-column align-items-center justify-content-center">
    <h1>Help Make a Difference Today</h1>
    <a href="/register" class="btn btn-primary btn-lg btn-cta">Join Us</a>
</div>

<!-- Featured sections -->
<div class="my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="image-container" style="height: 250px">
                    <img src="https://images.unsplash.com/photo-1593113598332-cd288d649433?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="Card image cap" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Become a Sponsor</h5>
                    <p class="card-text">Support our cause by becoming a sponsor and making a difference in the lives of those in need.</p>
                    <a href="/register" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="image-container" style="height: 250px">
                    <img src="https://images.unsplash.com/photo-1509099836639-18ba1795216d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1462&q=80" alt="Card image cap" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Get Help</h5>
                    <p class="card-text">Are you in need of assistance? Find out how we can help you and your community.</p>
                    <a href="/register" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="image-container" style="height: 250px">
                    <img src="https://images.unsplash.com/photo-1593113630400-ea4288922497?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="Card image cap" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Volunteer with Us</h5>
                    <p class="card-text">Join our team of volunteers and make a positive impact on the world.</p>
                    <a href="/register" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>