@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - charity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <style>
        html,body{
            background-color: #f8f9fd;
        }
        .wrap{
                width: 100%;
                overflow: hidden;
                background: #fff;
                border-radius: 5px;
                box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
        }
    </style>
</head>
<body>

<div class="container">
    <main role="main" class="pb-3">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="wrap mt-5">
                    <div class="login-wrap p-5 p-md-5">
                        <h1>Charity Login</h1>

                        <form method="post">
                            <div class="form-group mb-3 mt-3">
                                <input placeholder="Email" type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group mb-3">
                                <input placeholder="Password" type="password" class="form-control" id="password" name="password" required>
                            </div>
                            @if (ViewData.ModelState.Count > 0)
                            {
                                <div class="alert alert-danger">
                                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                    {
                                        @error.ErrorMessage
                                    }
                                </div>
                            }
                            <button type="submit" class="form-control btn btn-primary rounded submit mt-2 pt-2 pb-2">Submit</button>
                        </form>
                        <p class="text-center mt-4">Not a member? <a class="link-primary" data-toggle="tab" href="/register">Sign Up</a></p>
                    </div>

                </div>

            </div>
        </div>
    </main>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>