@model EventsModel
@{
    ViewData["Title"] = "Add Event";
}


<h2>Create Event</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group mb-2">
        <label asp-for="EventName" class="control-label"></label>
        <input asp-for="EventName" class="form-control"/>
    </div>
    <div class="form-group mb-2">
        <label class="control-label">Image</label>
        <input type="file" class="form-control-file" accept="image/x-png,image/gif,image/jpeg" onchange="previewImage(this)"/>
    </div>
    <div class="d-flex" id="imagePreview">

    </div>
    <div class="form-group mb-2">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Venue" class="control-label"></label>
        <input asp-for="Venue" class="form-control"/>
    </div>
    <div class="form-group mb-2">
        <label asp-for="EventDate" class="control-label"></label>
        <input asp-for="EventDate" class="form-control"/>
    </div>

    <div class="form-group mb-2" style="display:none">
        <label asp-for="ImageUrl" class="control-label"></label>
        <input asp-for="ImageUrl" id="ImageUrl" type="text" class="form-control-file"/>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
    function previewImage(input) {
        var reader = new FileReader();
        reader.onload = function (e) {
            var previewContainer = $(input).closest(".form-group").find(".preview-container");
            previewContainer.empty();
            previewContainer.append("<img src='" + e.target.result + "' class='img-thumbnail' />");
            var base64 = e.target.result
            $("#ImageUrl").val(base64);
             $("#imagePreview").empty();
            $("#imagePreview").append("<img src='" + e.target.result + "' class='img-thumbnail' style='height:100px' />")
        }
        reader.readAsDataURL(input.files[0]);
    }
</script>